.contentPadre {
    background-color: #F6F6F6;
    padding: 10px;
    padding-top: 3px;
    font-family: 'Montserrat';
}

.btnModal {
    display: none;
}

.isMobile {
    display: none !important;
}

.containerDetallesPlanes {
    padding-top: 140px;
}

.container {
    h3 {
        color: #0000001A;
        font-weight: bold;
    }
}

.containerPlan {
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 3px 0px #0000001A;

    h4 {
        color: #00A1D9;
        padding: 50px 0;
    }

    p {
        font-size: 15px;
    }

    .containerBtnsPlanes {
        padding: 40px 0;
    }
}

.containerDetalles {
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 3px 0px #0000001A;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
    background-color: white;
    width: 100%;
}

// MODAL ----------------------------
.modal-dialog {
    position: absolute;
    right: 0px;
    margin: 0;
    width: 600px;
    
    .modal-header {
        border-bottom: none;
    }

    .modal-content {
        height: 100vh !important;
    }

    .modal-title {
        color: #37414080;
        font-size: 18px;
    }

    .modal-body {

        font-family: 'Montserrat';
        .btn-group {
            font-weight: bold;
        }

        .containerTitle{
            text-align: center;
            font-size: 24px;
            color: #00A1D9;
        }

        .btnDesplegable {
            background-color: white;
            border-color: white;
            color: black;
        }

        .containerFooter {
            padding-top: 20%;
        }

        .containerDataWallet {
            p {
                font-size: 13px;
            }

            h3 {
                color: #374140;
            }

            h5 {
                font-size: 17px;
            }
            background-color: #F6F6F6;
        }

        .conteinerSelectCripto {
            margin: 55px auto;
        }

        .textBitcoin {
            margin: auto 15px;
            font-weight: bolder;
        }
    }
}


// MODAL-notModal ----------------------------
.modal-dialog-notModal {
    background-color: white;
    margin: 0 10px;

    .modal-header {
        border-bottom: none;
    }

    .modal-title {
        color: #37414080;
        font-size: 18px;
    }

    .modal-body {

        font-family: 'Montserrat';
        .btn-group {
            font-weight: bold;
        }

        .containerTitle{
            text-align: center;
            font-size: 24px;
            color: #00A1D9;
        }

        .btnDesplegable {
            background-color: white;
            border-color: white;
            color: black;
        }

        .containerFooter {
            padding-top: 20%;
        }

        .containerDataWallet {
            text-align: left;
            p {
                font-size: 17px;
            }

            h3 {
                color: #374140;
                font-size: 20px;
            }

            h5 {
                font-size: 17px;
            }
            background-color: #F6F6F6;
        }

        .conteinerSelectCripto {
            margin: 55px auto;
        }

        .textBitcoin {
            margin: auto 15px;
            font-weight: bolder;
        }
    }
}

@media (max-width:760px) {
    .isMobile {
        display: flex !important;
    }

    .isDesktop {
        display: none;
    }

    .container {
        
        h3 {
            font-size: 17px;
        }

        .containerPlan {
            p {
                text-align: center;
            }
        }
    }

    .modal {
        padding: 0 3px;
        padding-top: 7%;
        height: 97%;
    }
    .modal-dialog {
        width: 100%;
        
        .modal-body {
            .containerTitle {
                font-size: 18px;
            }

            .containerFooter {
                padding-top: 10%;
            }
            
            .conteinerSelectCripto {
                margin: 25px auto;
            }

            .containerInput {
                padding-bottom: 10px !important;
            }

            .containerDataWallet {
                padding: 15px !important;

                p {
                    font-size: 13px;
                }

                h3 {
                    font-size: 17px;
                }

                .container {
                    h5 {
                        font-size: 17px;
                    }
                }
            }
        }
        
    }
}