
.isDesktop {
    // display: flexbox;
    width: 90%;
    padding: 10% 0;
}

.isMobile {
    display: none;
}

.contentPadrePlanes {
    color: white;
    margin-top: 130px;
    padding: 0%;
}

.elegi {
    font-size: 80px;
    font-family: 'Montserrat';
    font-weight: bold;
    max-width: 100px;
}

.tuPlan {
    font-size: 80px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #FFCB1E;
    position: relative;
    right: -10%;
    top: -10%;
    max-width: 300px;
}

.textPieElegiPlan {
    font-size: 19px;
}

.contactanos {
    margin-top: 15%;
    letter-spacing: 0.7px;
}

.containerPlans {
    margin-top: 40px;
    backdrop-filter: blur(15px);
    background-color: rgb(255 255 255 / 10%);
    height: 100%;
}

.containerPlanIndividual {
    max-width: 240px;
    padding: 0 10%;
    margin-top: -40px;

    .imagePlan {
        width: 150px;
    }
}

.logoPlanes {
    background-color: white;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
}

.precioContent {
    margin-top: 20%;
    color: #FFCB1E;
    font-weight: bolder;

    .precioLanzamiento {
        background-color: #FFCB1E;
        color: black;
        padding-left: 10px;
    }

    .precio {
        font-size: 30px;
    }
}

// IS TABLET
@media (max-width: 1300px) {
    .isDesktop {
        display: none;
        padding: 10px 0;
    }

    .isMobile {
        display: inline;
        padding: 50px 0;
    }
    

    .elegi {
        font-size: 60px;
    }

    .tuPlan {
        font-size: 60px;
    }

    .textPieElegiPlan {
        font-size: 15px;
    }

    .containerPlanIndividual {
        margin-top: 0;
        
        .logoPlanes {
            width: 50px;
            height: 50px;
        }

        .imagenFoote {
            width: 33px;
        }

        .imagePlan {
            width: 125px;
        }
    }

    .precioContent {

        .precioLanzamiento {
            font-size: 11px;
        }

        .precio {
            font-size: 22px;
        }
    }

    #carouselExampleControls {
        position: relative;
        top: -15px;
    }
}

@media (min-width: 1300px) {
    // EFECTO SOLO DESKTOP
    .containerPlanIndividual:hover {
        position: absolute;

        .logoPlanes {
            background-color: #00A1D9;
            width: 75px;
            height: 75px;
            margin-bottom: 10px;
        }

        transform: scale(1.05);
        backdrop-filter: blur(15px);
        box-shadow: inset 0 0 5px 7px #00A1D9;
        border-radius: 10px;
        padding: 40px 30px;
        text-align: left;
        top: -70px;
    }

    .isDesktop {
        padding: 10px ;
    }

    .contactanos {
        margin-top: 0;
    }

    
    
}

// IS MOBILE
@media (max-width: 600px) {
    .contentPadrePlanes {
        margin-top: 50px;
    }
    .isDesktop {
        display: none;
        padding: 10px 0;
    }

    .isMobile {
        display: inline;
    }
    

    .containerPadre {
        margin: 5% 0 0 0;
        height: 100% !important;
    }

    .containerTitulos {
        max-width: 92%;

        .elegi {
            font-size: 50px;
        }

        .tuPlan {
            font-size: 50px;
        }
    }

    .centerTitulo {
        max-width: 250px;
        margin: 0 auto;
    }

    .containerPlanIndividual {
        max-width: 270px;
        margin-top: 0;

        .imagenFoote {
            width: 53px;
        }

        .logoPlanes {
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
        }
    }

    .containerPlans {
        max-height: 360px;
    }

    .precioContent {

        .precioLanzamiento {
            font-size: 15px;
        }
    }

    .containerPlanIndividual {
        pointer-events: none;
    }

}