<div class="container p-0 containerPadre ">

    <div class="container isDesktop">
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="elegi">Eleg&iacute;</h1>
                            <h1 class="tuPlan">tu plan</h1>
                        </div>
                        <div class="col-12">
                            <p class="textPieElegiPlan">
                                Todas las criptos que generas van a ser <br />
                                acreditadas de manera instant&aacute;nea en tu wallet.
                            </p>
                        </div>
                        <div class="col-12 contactanos">
                            <h6>¿Busc&aacute; un plan a medida? <a>Contact&aacute;nos</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8" style="padding-left: 0px;">
                <div class="container containerPlans">
                    <div class="row">
                        <div class="col-4 position-absolute top-50 start-0 translate-middle-y" >
                            <div class="container containerPlanIndividual">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="logoPlanes">
                                            <img src="../../../assets/images/planes/Grupo 100.svg" class="imagenFoote" style="margin-top: 17%;">
                                        </div>
                                        <p class="mb-0">Pack Mining</p>
                                        <h3 class="tituloPack">SINGLE</h3>
                                    </div>
                                    <div class="col-12">
                                        <img src="../../../assets/images/planes/1THs-1.svg" class="imagePlan">

                                        <div class="precioContent">
                                            <p class="precioLanzamiento">Precio lanzamiento</p>
                                            <h3 class="precio">648 U$D</h3>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <h5>INFO <b style="font-size: 28px; padding-left: 20px;"> &#8594; </b></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 position-absolute top-50 start-50 translate-middle">
                            <div class="container containerPlanIndividual">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="logoPlanes">
                                            <img src="../../../assets/images/planes/Grupo 100.svg" class="imagenFoote" style="margin-top: 17%;">
                                        </div>
                                        <p class="mb-0">Pack Mining</p>
                                        <h3 class="tituloPack">FASTER</h3>
                                    </div>
                                    <div class="col-12">
                                        <img src="../../../assets/images/planes/2THs-1.svg" class="imagePlan">

                                        <div class="precioContent">
                                            <p class="precioLanzamiento">Precio lanzamiento</p>
                                            <h3 class="precio">1.298 U$D</h3>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <h5>INFO <b style="font-size: 28px; padding-left: 20px;"> &#8594; </b></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 position-absolute top-50 end-0 translate-middle-y" >
                            <div class="container containerPlanIndividual">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="logoPlanes">
                                            <img src="../../../assets/images/planes/Grupo 101.svg" class="imagenFoote" style="margin-top: 17%;">
                                        </div>
                                        <p class="mb-0">Pack Mining</p>
                                        <h3 class="tituloPack">POWER</h3>
                                    </div>
                                    <div class="col-12">
                                        <img src="../../../assets/images/planes/3THs-1.svg" class="imagePlan">

                                        <div class="precioContent">
                                            <p class="precioLanzamiento">Precio lanzamiento</p>
                                            <h3 class="precio">1.988 U$D</h3>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <h5>INFO <b style="font-size: 28px; padding-left: 20px;"> &#8594; </b></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- IS MOBILE -->
    <div class=" isMobile">
        <div class="container containerTitulos p-0">
            <div class="row">
                <div class="col-12 centerTitulo">
                    <h1 class="elegi">Eleg&iacute;</h1>
                    <h1 class="tuPlan">tu plan</h1>
                </div>
                <div class="col-12 p-0">
                    <p style="font-size: 15px; text-align: center;">
                        Todas las criptos que generas van a ser <br />
                        acreditadas de manera instant&aacute;nea en tu wallet.
                    </p>
                </div>
                <!-- <div class="col-12 contactanos">
                    <h6>¿Busc&aacute; un plan a medida? <a>Contact&aacute;nos</a></h6>
                </div> -->

                <div class="containerPlans ">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="container containerPlanIndividual">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="logoPlanes">
                                            <img src="../../../assets/images/planes/Grupo 100.svg" class="imagenFoote" style="margin-top: 17%;">
                                        </div>
                                        <p>Pack Mining</p>
                                        <h3 style="position: relative; top: -15%;">SINGLE</h3>
                                    </div>
                                    <div class="col-12">
                                        <img src="../../../assets/images/planes/1THs-1.svg" width="150">

                                        <div class="precioContent">
                                            <p class="precioLanzamiento">Precio lanzamiento</p>
                                            <h3 class="precio">648 U$D</h3>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <h5>INFO <b style="font-size: 28px; padding-left: 20px;"> &#8594; </b></h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="container containerPlanIndividual">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="logoPlanes">
                                            <img src="../../../assets/images/planes/Grupo 100.svg" class="imagenFoote" style="margin-top: 17%;">
                                        </div>
                                        <p>Pack Mining</p>
                                        <h3 style="position: relative; top: -15%;">FASTER</h3>
                                    </div>
                                    <div class="col-12">
                                        <img src="../../../assets/images/planes/2THs-1.svg" width="150">

                                        <div class="precioContent">
                                            <p class="precioLanzamiento">Precio lanzamiento</p>
                                            <h3 class="precio">1.298 U$D</h3>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <h5>INFO <b style="font-size: 28px; padding-left: 20px;"> &#8594; </b></h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="container containerPlanIndividual">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="logoPlanes">
                                            <img src="../../../assets/images/planes/Grupo 101.svg" class="imagenFoote" style="margin-top: 17%;">
                                        </div>
                                        <p>Pack Mining</p>
                                        <h3 style="position: relative; top: -15%;">POWER</h3>
                                    </div>
                                    <div class="col-12">
                                        <img src="../../../assets/images/planes/3THs-1.svg" width="150">

                                        <div class="precioContent">
                                            <p class="precioLanzamiento">Precio lanzamiento</p>
                                            <h3 class="precio">1.988 U$D</h3>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <h5>INFO <b style="font-size: 28px; padding-left: 20px;"> &#8594; </b></h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>


                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>