<div class="container-fluid containerNavbarDescktop" [ngClass]="props.theamWhite ? 'theamWhite' : 'theamBlack'">
    <div class="d-flex bd-highlight mb-3 ">
        <div class="me-auto p-2 bd-highlight iconSendMinig">
            <img src="../../../assets/images/logos/logo_send_min.svg" width="45">
        </div>

        <div class=" items-navbar my-auto p-2 bd-highlight" *ngFor="let unItem of props.navigation">
            <ng-container *ngIf="unItem.isImagen; else elseTemplate">
                <div>
                    <img [src]="unItem.text" width="25">
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <a class="nav-link active text-center" [routerLink]="[unItem.route]">{{unItem.text}}</a>
            </ng-template>
                
        </div>
    </div>
</div>