.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.containerNavbarDescktop {
    padding: 30px 40px 0 40px;
    position: relative;
}

.contentNavbar {
    padding: 30px 50px 0 50px;
}

.navbar-brand {
    padding-left: 50px;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: -0.56px;
    color: white;
}

.theamBlack {
    background-color: none;
    color: black;
}

.theamWhite {
    background-color: white;
    
    .nav-link  {
        color: black;
    }
}

.items-navbar {
    margin-right: 30px;
}

.iconSendMinig {
}

@media (max-width:570px) {

    .containerNavbarDescktop {
        padding: 30px 10px 0 10px;
    }
    
}

@media (max-width:370px) {

    .items-navbar {
        margin-right: 8px;
    }
    

    .iconSendMinig {
        margin-left: 5px;
    }

    .containerNavbarDescktop {
        padding: 30px 10px 0 10px;
    }
}
