<div class="containerPadre container-fluid">
    <div class="containerCrearUsuario mx-auto">
        <div class="row">
            <div class="col">
                <div class="cuadroBorrosoRigth"></div>
            </div>
            <div class="col">
                <img src="../../../../assets//images/usuario/CreateUser.png">
            </div>
            <div class="col">
                <div class="cuadroBorrosoLeft"></div>
            </div>
        </div>
    </div>

    <div>
        <div class="containerTextCenter">
            <div class="containerCreaTu">
                <h1 class="fs-100" style="position: relative; left: -3%; font-weight: bold; letter-spacing: -4px;"> Cre&aacute; tu </h1>
            </div>
            <div class="containerCuenta mx-auto">
                <h1 class="fs-100" style="position: relative; left: 13%; font-weight: bold; letter-spacing: -4px;"> cuenta </h1>
            </div>
        </div>

        <div class="container containerLogosStores mx-auto">
            <p class="textFooter"> ¿ Listo para cambiar tu mundo financiero ? </p>
            <div class="row ">
                <div class="col col-md-6">
                    <img src="../../../../assets/images/logos/PlayStore.svg" width="170">
                </div>
                <div class="col col-md-6">
                    <img src="../../../../assets/images/logos/AppleStore.svg" width="170">
                </div>
            </div>
        </div>

    </div>
</div>