/* You can add global styles to this file, and also import other style files */
.imagenFondo {
    overflow-x: hidden !important;
    background-size: cover;
}


.fs-100 {
    font-size: 100px;
}

@media (max-width: 600px) {
    .imagenFondo {
        background-position-x: -180px;
    }
    
}

@media (max-width:400px) {
  
}