/* You can add global styles to this file, and also import other style files */
.imagenFondo {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.containerPadre {
    position: relative;
    z-index: 1000;
}

.fs-100 {
    font-size: 100px;
}