/* You can add global styles to this file, and also import other style files */
.imagenFondo {
    // height: 100vh;
    // width: 100%;
    // position: relative;
    background-size: cover;
}

.containerPadre {
    // position: relative;
    z-index: 1000;
}

.fs-100 {
    font-size: 100px;
}

@media (max-width: 600px) {
    .imagenFondo {
        background-position-x: -180px;
    }
    
}