<!-- <img src="../../../assets/images/portada/portada1.png" class="imagenFondo"> -->

<div class="portada">

    <div class="container-fluid itemsPie">
        <div id="fondoBorroso" class="row align-items-end">
            <div class="col itemPie">
                <div class="titleItems">
                    Miner&iacute; en la nube<br>
                </div>
                Aument&aacute; tus criptoactivos sin invertir en<br>
                infraestructura ni conocimientos previos.
            </div>
            <div class="col itemPie">
                <div class="titleItems">
                    R&aacute;pido, f&aacute;cil y seguro
                </div>
                Somos una empresa pionera en la mineria cripto,<br>
                en sociedad con el equipo de Universal Coins.
            </div>
            <div class="col containerVerPlanes">
                <button class="btnVerPlanes">
                    VER PLANES <b style="font-size: 35px;"> &#8594; </b>
                </button>
            </div>
        </div>
    </div>
</div>