<!-- <img src="../../../assets/images/portada/portada1.png" class="imagenFondo"> -->

<div class="container-fluid m-0 p-0 vh-100">


    <div class="titulo">
        <div class="containerTextCenter">
            <div class="container">
                <h1 class="fs-100" style="font-weight: bold;"> Send </h1>
            </div>
            <div class="container containerMining">
                <h1 class="fs-100" style="font-weight: bold;  "> mining </h1>
            </div>

            <div class="container ">
                <h1 class="containerSubtitulo">El futuro de la miner&iacute;a</h1>
            </div>
        </div>

    </div>


    <div class="portada">

        <div class="isDesktop container-fluid itemsPie">
            <div id="fondoBorroso" class="row align-items-end">
                <div class="col-12 col-md-4 itemPieLeft">
                    <div class="titleItems">
                        Miner&iacute; en la nube<br>
                    </div>
                    Aument&aacute; tus criptoactivos sin invertir en<br>
                    infraestructura ni conocimientos previos.
                </div>
                <div class="col-12 col-md-4 itemPie">
                    <div class="titleItems">
                        R&aacute;pido, f&aacute;cil y seguro
                    </div>
                    Somos una empresa pionera en la mineria cripto,<br>
                    en sociedad con el equipo de Universal Coins.
                </div>
                <div class="col-12 col-md-4 containerVerPlanes">
                    <button class="btnVerPlanes" (click)="redirectPlans()">
                        VER PLANES <b style="font-size: 35px;"> &#8594; </b>
                    </button>
                </div>
            </div>
        </div>

        <!-- MOBILE -->
        <div class="isMobile container-fluid itemsPie">
            <div id="fondoBorroso" class="row ">
                <div class="col-12 ">

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="itemCarrousel">
                                    <div class="titleItems">
                                        Miner&iacute; en la nube<br>
                                    </div>
                                    Aument&aacute; tus criptoactivos sin invertir en<br>
                                    infraestructura ni conocimientos previos.
                                </div>
                            </div>
                            <div class="carousel-item">

                                <div class="itemCarrousel">
                                    <div class="titleItems">
                                        R&aacute;pido, f&aacute;cil y seguro
                                    </div>
                                    Somos una empresa pionera en la mineria cripto,<br>
                                    en sociedad con el equipo de Universal Coins.
                                </div>
                            </div>
                        </div>
                        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button> -->
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>



                </div>

                <div class="col-12 containerVerPlanes">
                    <button class="btnVerPlanes" (click)="redirectPlans()">
                        VER PLANES <b style="font-size: 35px;"> &#8594; </b>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>