.itemsPie {
    position: absolute;
    bottom: 0;
}

.isDesktop {
    display: flexbox;
}

.isMobile {
    display: none;
}

#fondoBorroso {
    backdrop-filter: blur(15px);
    background-color: rgb(255 255 255 / 10%);
    color: white;
}

.itemPie {
    margin: auto 0;
    padding-left: 40px;
    font-size: 14px;
}

.itemPieLeft {
    margin: auto 0;
    padding-left: 140px;
    font-size: 14px;
}

.titleItems {
    width: 223px;
    height: 27px;
    text-align: left;
    // font: normal normal 600 22px/27px Montserrat;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.containerVerPlanes {
    font: normal normal medium 14px/16px Roboto;
    letter-spacing: 1.25px;
    color: white;
    background-color: #47D9BF;
    text-align: center;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btnVerPlanes {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
}

.containerTextCenter {
    margin-top: 10%;
    color: white;
    position: relative;
    z-index: 1000;
    // font-family: 'Montserrat';
    font: normal normal bolder 72px/88px 'Montserrat';
}

.titulo {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
}

.containerMining {
    margin-top: -60px;
    color: #FFCB1E;
}

.containerSubtitulo {
    font-size: 19px;
    position: relative;
    left: 63%;
    font-weight: bolder;
    margin-top: -27px;
}

@media (max-width: 1220px) {
    .titulo {
        margin-top: 10%;
    }

    .itemPieLeft {
        padding-left: 80px;
    }
}

// IS MOBILE
@media (max-width: 600px) {
    .isDesktop {
        display: none;
    }

    .isMobile {
        display: inline;
    }
    

    .containerTextCenter {
        margin-top: 5%;

        .fs-100 {
            font-size: 60px;
        }

        .containerMining {
            margin-top: -40px;
        }
        
        .containerSubtitulo {
            margin-top: -15px;
            font-size: 13px;
            left: 53%;
        }
    }


    .itemCarrousel {
        padding: 20px 0;
        text-align: center;
        margin: auto 0;
        font-size: 13px;

        .titleItems {
            text-align: center;
            width: 100%;
        }
    }

    .btnVerPlanes {
        font-size: 27px;
    }
}

@media (max-width: 370px) {
    .containerTextCenter {
        margin-top: 0%;
    }

    .titulo {
        margin-left: 2%;
    }
}
