<img src="../../../assets/images/portada/portada1.png" class="imagenFondo">

<div class="portada">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light p-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <div class="barra-vertical"></div>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <div class="barra-vertical"></div>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Universal Coins</a>
                    </li>
                    <div class="barra-vertical"></div>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid itemsPie">
        <div id="fondoBorroso" class="row align-items-end">
            <div class="col itemPie">
                <div class="titleItems">
                    Miner&iacute; en la nube<br>
                </div>
                Aument&aacute; tus criptoactivos sin invertir en<br>
                infraestructura ni conocimientos previos.
            </div>
            <div class="col itemPie">
                <div class="titleItems">
                    R&aacute;pido, f&aacute;cil y seguro
                </div>
                Somos una empresa pionera en la mineria cripto,<br>
                en sociedad con el equipo de Universal Coins.
            </div>
            <div class="col containerVerPlanes">
                <button class="btnVerPlanes">
                    VER PLANES <b style="font-size: 35px;"> &#8594; </b>
                </button>
            </div>
        </div>
    </div>
</div>